@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

#app {
  height: 100%;
}

.navlink--active .styled__navitem {
  background-color: #242a38;
}
.navlink--active .styled__navitem:hover {
  background-color: #242a38;
  color: #fff;
}
